* {
    color: darkblue;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 35%;
}

h1,
h2,
ul,
ol {
    text-align: left;
}

p {
    text-align: center;
}